body {
    width: 100vw;
    height: 100vh;
}

#main_container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_home {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 3rem;
}

.icon-header {
    width: 10vw;
    height: 10vh;
}

.img {
    width: 10vw;
    height: 10vh;
}

.h1_index {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.btn1 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#btn1 {
    width: 10vw;
    height: 8vh;
    border-radius: 4vh;
}

.h1_1 {
    width: calc(100vw - 10vw);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: 'Cinzel', serif;
    color: rgb(37, 29, 58);
}

.container-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-weight: 500;
}

.bool {
    width: 10rem;
    height: 10rem;
}

.icontel {
    display: flex;
    flex-direction: row;
}

a {
    font-size: 10pt;
}

@media screen and (max-width:1100px) {
    .title_home {
        margin-top: 0;
    }
    .bool {
        width: 6rem;
        height: 6rem;
    }

    .bool {
        width: 6rem;
        height: 6rem;
    }

    .Number {
        width: 6rem;
        height: 6%;
        border-radius: 50%;
        font-weight: 250;
    }
    .h1_index {
        font-size: 1.5rem;
    }
    .container-number {
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .btn1 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #btn1 {
        height: 4vh;
        border-radius: 2vh;
        font-size: 6pt;
        margin-top: 7rem;
        position: fixed;
    }
    #main_container {
        height: 45vh;
      }
    
}