body {
    width: 100vw;
    height: 100vh;
}

.text-navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.title_home {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icon-header {
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.img {
    width: 10vw;
    height: 10vh;
}

#title {
    font-size: xx-large;
    margin-bottom: 5vh;
}

.h1_index {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 20pt;
}

.btn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;
}

#btn1 {
    border-radius: 4vh;

}

.h1_1 {
    width: calc(100vw - 10vw);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: rgb(37, 29, 58);
}

.container-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.Number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-weight: 500;
}

.bool {
    width: 8rem;
    height: 8rem;
}

.icontel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 10pt;
}

.img-icons {
    width: 1.5vw;
    height: 2vh
}

@media screen and (max-width:1100px) and (max-height:600px) {
    .bool {
        width: 6rem;
        height: 6rem;
    }

    .bool {
        width: 6rem;
        height: 6rem;
    }

    .Number {
        width: 6rem;
        height: 6%;
        border-radius: 50%;
        font-weight: 250;
    }

    .h1_index {
        font-size: 1.5rem;
    }

    .container-number {
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .btn1 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    #btn1 {
        height: 4vh;
        border-radius: 2vh;
        font-size: 6pt;
        margin-top: 15vh;
    }

    .img-icons {
        width: 2vw;
        height: 2vh
    }

    p {
        font-size: 14px;
    }

    .icontel {
        flex-direction: column;
    }

    #title {
        margin-left: 4rem;
        font-size: 17pt;
    }


}

/* @media screen and (max-height:600px) {
    .container-number {
        margin-bottom: 13vh;
    }
    #main_container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 60vh;
    }
    #btn1 {
        height: 4vh;
        border-radius: 2vh;
        font-size: 6pt;
        margin-top: 22vh;
    }
    #title {
        margin-left: 4rem;
        font-size: 17pt;
    }
} */