html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: block;

}

#container-navibar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#subdiv-navbar1 {
    width: 10vw;
    position: absolute;
}

#subdiv-navbar2 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#title {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50pt;
    color: green;
}

.container-main-bool {
    display: flex;
    flex-direction: crow;
    justify-content: center;
    align-items: center;
}

.div-container-bool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-container-main {
    display: flex;
    justify-content: center;
}

#containe1 {
    margin-top: 6vh;
}

.bool {
    width: 14vw;
    height: 12vh;
}

.h1_index {
    color: green;
    position: absolute;
}

.img-icons {
    width: 2.5vw;
    height: 2.5vw;
}

.btn1 {
    margin-top: 2%;
}


@media screen and (max-width:920px) {

    .h1_index {
        color: rgb(34, 204, 91);
        transform: scale(.6);
        position: absolute;
    }
}

@media screen and (max-height: 700px) {


    .h1_index {
        color: rgb(34, 204, 91);
        transform: scale(.6);
        position: absolute;
    }
}

@media screen and (max-height: 350px) {
    .h1_index {
        transform: scale(.4);
    }
}

@media screen and (max-height: 500px) {}

@media screen and (max-height: 300px) {}